@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --color-avocado-300: hsl(148 91% 69%);
  --color-avocado-500: hsl(148 91% 45%);
  --color-avocado-600: hsl(150 91% 40%);
  --color-avocado-800: hsl(148 92% 10%);
  --color-card: hsl(160 61% 91%);
  --color-background-light: hsl(360 100% 100%);
  --color-background-dark: oklch(21% 0.034 264.665);
  --color-text-primary: hsl(148 91% 45%);
  --color-text-secondary: hsl(148 91% 19%);
  --color-header: hsl(96 71.6% 67%);
  --color-header2: hsl(96 71.6% 67%);
  --color-pet-card: hsl(148 58% 56%);
  --color-green-300: hsl(96 71.6% 80%);
  --color-green-500: hsl(96 71.6% 63%);
  --color-green-600: hsl(86 71.6% 58%);
}

@layer base {
  [data-theme="light"] {
    --color-pet-card: hsl(84 13.5% 92.7%);
    --color-card: hsl(148 58% 56%);
    --color-text-primary: hsl(148 91% 12%);
    --color-text-secondary: hsl(148 91% 22%);
    --color-header2: hsl(96 71.6% 67%);
    --color-header: hsl(148 91% 45%);
  }
  [data-theme="dark"] {
    --color-pet-card: oklch(27.8% 0.033 256);
    --color-card: oklch(27.8% 0.033 256);
    --color-text-primary: hsl(148 91% 85%);
    --color-text-secondary: hsl(138 91% 66%);
    --color-header: oklch(27.8% 0.033 256);
    --color-header2: hsl(96 71.6% 67%);
  }
}

:root[data-theme="light"] {
  background-color: var(--color-background-light);
}

:root[data-theme="dark"] {
  background-color: var(--color-background-dark);
}

/* Accordion Styles */
.AccordionHeader {
  all: unset;
  display: block;
}

.AccordionTrigger {
  all: unset;
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  width: 100% !important;
}

.AccordionChevron {
  transition: transform 300ms;
}

.AccordionTrigger[data-state="open"] > .AccordionChevron {
  transform: rotate(180deg);
}

.AccordionContent {
  overflow: hidden;
}

.AccordionContent[data-state="open"] {
  animation: slideDown 300ms ease-out;
}

.AccordionContent[data-state="closed"] {
  animation: slideUp 300ms ease-out;
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}
